div {
    background-color: red; 
    color: white; 
    font-size: 32px;
    text-align: center; 
    font-weight: bold; 
}

li {
    font-size: 18px
}

body {
    font-family: "Times New Roman", serif;
}